<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Ri9 Tounsi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="~/ebusiness/img/favicon-png.png" rel="icon">
    <link href="~/ebusiness/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/ebusiness/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="~/ebusiness/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="~/ebusiness/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="~/ebusiness/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="~/ebusiness/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/ebusiness/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/ebusiness/lib/venobox/venobox.css" rel="stylesheet">
    <!-- Nivo Slider Theme -->
    <link href="~/ebusiness/css/nivo-slider-theme.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="~/ebusiness/css/style.css" rel="stylesheet">
    <!-- Responsive Stylesheet File -->
    <link href="~/ebusiness/css/responsive.css" rel="stylesheet">
   
</head>
<body data-spy="scroll" data-target="#navbar-example">
    <div id="preloader"></div>
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand  and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="/Home" >
                                    @*<h1><span style="color:gold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">RI9</span>Tounsi</h1>*@
                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    @*<img src="~/ebusiness/img/background/nav-bar-logo-jpeg.jpg" style="width:150px"  class="pull-left" " title="" />*@
                                    <img src="~/ebusiness/img/background/logo-156.png" />
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#portfolio">Products</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#about">About Us</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#contact">Contact Us</a>
                                    </li>


                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <!-- header end -->

    <div id="home" class="slider-area">
        <div class="bend niceties preview-2">
            <div id="ensign-nivoslider" class="slides">
               
                <video title="#slider-direction-1" autoplay loop muted style=" width: 100%    !important;
  height: auto   !important;">
                    <source src="~/ebusiness/img/slider/slider-video.mp4" />
                </video>

            </div>
            <!-- direction 1 -->
            <div id="slider-direction-1" class="slider-direction slider-one">
                        
            </div>
            <!-- direction 2 -->
            <div id="slider-direction-2" class="slider-direction slider-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content text-center">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1">The Best Business Information </h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">We're In The Business Of Get Quality Business Service</h1>
                                </div>
                                <!-- layer 3 -->
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- direction 3 -->
            <div id="slider-direction-3" class="slider-direction slider-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1">The Best business Information </h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">Helping Business Security  & Peace of Mind for Your Family</h1>
                                </div>
                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio" class="portfolio-area area-padding fix">
        @Html.Action("Products", "Home")
    </div>

  
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">About RI9Tounsi</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="well-left">
                        <div class="single-well center" style="float:right">
                            <img src="~/Content/stickerspic/finale-png.png" style="height:350px;width:350px" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12">
                    </div>
                    <!-- single-well end-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">
                                <a href="#">
                                    <h4 class="sec-head">fake tattoos</h4>
                                </a>
                                <p>
                                    You don't want a tattoo forever ? Or you want to try out a tattoo before you get it ? <br />Welcome to RI9 Tounsi then !<br /> We provide :
                                </p>
                                <ul>
                                    <li>
                                        <i class="fa fa-check" style="color:gold"></i> Temporary tattoo
                                    </li>
                                    <li>
                                        <i class="fa fa-check" style="color:gold"></i> Lasts 1-2 weeks

                                    </li>
                                    <li>
                                        <i class="fa fa-check" style="color:gold"></i> Quality Products
                                    </li>

                                    <li>
                                        <i class="fa fa-check" style="color:gold"></i> Delivery All Over Tunisia
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End col-->
                </div>
            </div>
    </div>

    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Contact us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-mobile"></i>
                                <p>
                                    Call : 55 465 559<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-envelope-o"></i>
                                <p>
                                    Email: ri9tounsii@gmail.com<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    Available all over Tunisia<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Google Map -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- Start Map -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.497414132405!2d10.856636314550235!3d33.8768411344017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaa4e8dda322b7%3A0xe511607caf5835ca!2sH%C3%B4tel+Djerba+Erriadh!5e0!3m2!1sfr!2stn!4v1562464228135!5m2!1sfr!2stn" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <!-- End Map -->
                    </div>
                    <!-- End Google Map -->
                    <!-- Start  contact -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form contact-form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                             @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                                {<div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="obj" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="body" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit">Send Message</button></div>
                                }
                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
    <!-- Start Footer bottom Area -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <h2><span style="color:gold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">RI9</span>Tounsi</h2>
                                </div>
                                <p>For more information, find us on social media
                                    </p><div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/Ri9tounsi-288243142053047/"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/ri9.tounsi/"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>information</h4>
                                <p>
                                You've got something on your mind ?<br /> Contact us now 
                                </p>
                                <div class="footer-contacts">
                                    <p>
                                        <span style="color:gold">Tel :</span> 55 465 559
                                    </p>
                                    <p><span style="color:gold">Email :</span> ri9tounsii@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                </div>
            </div>
        </div>
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright text-center">
                            @RenderBody()
                        </div>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="~/ebusiness/lib/jquery/jquery.min.js"></script>
    <script src="~/ebusiness/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/ebusiness/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/ebusiness/lib/venobox/venobox.min.js"></script>
    <script src="~/ebusiness/lib/knob/jquery.knob.js"></script>
    <script src="~/ebusiness/lib/wow/wow.min.js"></script>
    <script src="~/ebusiness/lib/parallax/parallax.js"></script>
    <script src="~/ebusiness/lib/easing/easing.min.js"></script>
    <script src="~/ebusiness/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/ebusiness/lib/appear/jquery.appear.js"></script>
    <script src="~/ebusiness/lib/isotope/isotope.pkgd.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/ebusiness/contactform/contactform.js"></script>
    <script src="~/ebusiness/js/main.js"></script>
</body>
</html>
